boto3==1.35.58
botocore==1.35.58
Flask==3.0.3
flask_cors==5.0.0
groq==0.11.0
# librosa==0.10.2.post1
music21==9.3.0
numpy==2.0.1
pydantic==2.9.2
python-dotenv==1.0.1
Levenshtein==0.26.1
Requests==2.32.3
